<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="../styles/resets.css">
        <link rel="stylesheet" href="../styles/base.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/form.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>

    <body>

        <header>
            <div class="">
                <img class="Logo" src="https://bucheli-web-personal-portfolio-website.netlify.app/company-logo-4.jpg" alt="logo"/>
            </div>
            <ul class="menu">
                <li><a href="https://bucheli-web-personal-portfolio-website.netlify.app/index.html" target="_blank"><i class="fas fa-home"></i> Portfolio</a></li>
                <li><a href="https://www.linkedin.com/in/andresregaladobucheli/?locale=en_US" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://github.com/ARBUCHELI" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
            </ul> 
        </header>

        <main>
            <section>
                <h1>Evaluate News With NLP</h1>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Article url">
                    <input id="submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section id="formres">
                <strong>Results:</strong>
                <div id="results">
                    <div id="irony"></div>
                    <div id="confidence"></div>
                    <div id="subjectivity"></div>
                    <div id="polarity"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>Bucheli Web Development © 2023</p>
        </footer>
        <!--<script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>-->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>
</html>
